<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Projet Musically
			{% endblock %}
		</title>

		<link rel="icon" href="data:image/svg+xml,
						        <svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22>
						        <text y=%221.2em%22 font-size=%2296%22>🎵</text>
						        </svg>">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body>

		<nav class="nav">
			<a href="{{ path('app_home') }}">Accueil</a>
			<a href="{{ path('app_catalogue') }}">Catalogue</a>
			<a href="{{ path('app_about') }}">À propos</a>
			<a href="{{ path('app_contact') }}">Contact</a>
			<a href="#">Panier</a>
			<a href="{{ path('app_devis') }}">Devis</a>
		</nav>

		<div class="container"> {% block h1 %}{% endblock %}{% block body %}{% endblock %}
			</div>

			<footer class="footer">
				<div class="container">
					<a href="{{ path('app_legal') }}">Mentions légales</a>
				</div>
			</footer>

		</body>
	</html>
